table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-width: 1px;    
}

table {
    width: 75%;
    position: absolute;
    top: 150px;
    right: 30px;
    width: 1500px;

}

thead {
    background-color: rgb(22, 160, 133);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}
   
tbody{
    text-align: left;
    height: 20px;  
}
tr:hover {background-color: rgba(16, 182, 149, 0.205);
    color:rgb(0, 45, 87)
}

.field {
  display:flex;
  position:absolute;
  margin:5em auto;
  width:12.5%;
  top: 35px;
  right: 30px;
  flex-direction:row;
  box-shadow:
   0px 0px 0 rgb(22, 160, 133),
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133)
  ;
}

.codigo {
    width: 9%;
}
.fecha {
    width: 6%;
}
.cliente {
    width: 30%;
}
.vendedor {
    width: 30%;
}
.total{
    width: 6%;
}
.estado{
    width: 6%;
}
.opciones{
    width: 12%;
}